.fancy-select .source,
.fancy-select .destination {
  border: 1px solid #ddd;
  float: left;
  height: 200px;
  min-width: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.fancy-select .option {
  border: 1px solid #eee;
  cursor: pointer;
  padding: 5px;
}

.fancy-select .option.selected {
  background: #aabbcc;
}

.fancy-select .actions {
  float: left;
  max-width: 40px;
  margin: 0 5px;
}

.fancy-select .actions a {
  background: gray;
  float: left;
  margin: 0 0 5px 0;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.fancy-select .actions a,
.fancy-select .actions a:link,
.fancy-select .actions a:visited,
.fancy-select .actions a:hover,
.fancy-select .actions a:active {
  color: white;
  text-decoration: none;
}
